body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.blue-color{
    color: blue;
}
.gray-color{
    color:gray;
}
.flexible
{
display: flex;
margin-bottom: 50px;
padding-top: 15px;
}
.half-width{
    
    width: 50%;
    padding-left: 17px;
}

.half-width img{
    width: 80%;
}

.linked-button{
    text-decoration: none;
    background-image: linear-gradient(rgba(0, 153, 255, 0.61),blue);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 15px;
}

.txt-align{
    text-align:justify;
    padding-top: 25%;
}
.img-align{
    text-align:center;
    padding-bottom: 20%;
}

.banner{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 120%;   
    
}
.my-recip{
    text-align: center;
}

.box-shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15px;
    border-radius: 25px;
    box-shadow: 10px 10px 30px gray;
}
.box-shadow img{
    height: 250px;
    width: 500px;
    border-radius: 20px;
    padding-top: 4px;
}

.box-shadow-2{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5px;
        border-radius: 25px;
        box-shadow: 10px 10px 30px gray;
}

.half-width-2{

    width: 100%;
    padding: 50px;
    
}

.backgd-last{
    background-color: black;
    color: white;
    height: 200px;
    text-align: center;
    padding-top: 40px;
}